name: Build

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Commit lint
        uses: wagoid/commitlint-github-action@v6

      - name: Build appimage
        id: build_appimage
        run: make -j

      - name: Upload artifacts
        if: steps.build_appimage.outcome == 'success'
        uses: actions/upload-artifact@v4
        with:
          name: tmux
          path: |
            build/Tmux-x86_64.AppImage
            build/AppDir/usr/share/man/man1/tmux.1

  test:
    name: Test
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        include:
          - { image: "ubuntu:xenial"   , manager: 'apt'    }
          - { image: "ubuntu:bionic"   , manager: 'apt'    }
          - { image: "ubuntu:focal"    , manager: 'apt'    }
          - { image: "ubuntu:latest"   , manager: 'apt'    }
          - { image: "oraclelinux:7"   , manager: 'yum'    }
          - { image: "oraclelinux:8"   , manager: 'dnf'    }
          - { image: "debian:latest"   , manager: 'apt'    }
          - { image: "fedora:latest"   , manager: 'dnf'    }
          - { image: "archlinux:latest", manager: 'pacman' }

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download artifact
        uses: actions/download-artifact@v4
        with:
          name: tmux
          path: build/

      - name: Add execution flag
        run: chmod +x build/Tmux-x86_64.AppImage

      - name: Pull Docker image
        run: docker pull ${{ matrix.image }}

      - name: Install dependencies
        run: |
          if [[ "${{ matrix.manager }}" == "apt" ]]; then
            echo "PREREQUISITE=apt update -y; apt install -y fuse libfuse2" >> $GITHUB_ENV
          elif [[ "${{ matrix.manager }}" == "yum" || "${{ matrix.manager }}" == "dnf" ]]; then
            echo "PREREQUISITE=${{ matrix.manager }} install -y fuse fuse-libs" >> $GITHUB_ENV
          elif [[ "${{ matrix.manager }}" == "pacman" ]]; then
            echo "PREREQUISITE=pacman -Sy --noconfirm fuse" >> $GITHUB_ENV
          fi

      - name: Test in Docker container
        run: docker run -t --privileged -v $(pwd):$(pwd) -w $(pwd) ${{ matrix.image }} bash -i +m -e -c "eval \"${{ env.PREREQUISITE }}\"; TERM=tmux-256color ./scripts/test_tmux.sh build/Tmux-x86_64.AppImage $(cat packages/tmux.yaml | grep version | sed 's/.\+:\s//g')"

  release:
    name: Release
    runs-on: ubuntu-latest
    needs: test
    if: github.event_name == 'push' && github.ref == 'refs/heads/main' && needs.test.result == 'success'

    steps:
      - name: Get token
        uses: actions/create-github-app-token@v1
        id: get_token
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.PRIVATE_KEY }}

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Create release
        id: create_release
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
        run: |
          release=$(git log --format=%B $GITHUB_SHA -1 | grep "Release-As" | head -n 1 | sed 's/Release-As: //g')
          if [[ "$release" != "" ]]; then
            echo "release_created=true" >> $GITHUB_OUTPUT
            echo "tag_name=v$release" >> $GITHUB_OUTPUT
            gh release create v$release -t "v$release"
          else
            echo "release_created=false" >> $GITHUB_OUTPUT
            echo "tag_name=null" >> $GITHUB_OUTPUT
          fi

      - name: Download artifact
        id: download_release_artifact
        if: ${{ steps.create_release.outputs.release_created == 'true' }}
        uses: actions/download-artifact@v4
        with:
          name: tmux
          path: build/

      - name: Upload release artifact
        if: steps.download_release_artifact.outcome == 'success'
        env:
          GITHUB_TOKEN: ${{ steps.get_token.outputs.token }}
        run: |
          gh release upload ${{ steps.create_release.outputs.tag_name }} build/Tmux-x86_64.AppImage
          gh release upload ${{ steps.create_release.outputs.tag_name }} build/AppDir/usr/share/man/man1/tmux.1
